In [12]:
#importa numpy y pandas
import numpy as np
import pandas as pd

Crea una lista "asignaturas" con los textos "matematicas","fisica", "historia" <br>
Crea una lista "notas" con los valores 9,9,8 <br>
Crea una serie con la lista "notas" como valores, y la lista "asignaturas" como indices<br>
crea una variable "nota_fisica" con la nota de la asignatura de "fisica"<br>
Mediante el método "print" muestra la frase "La nota de fisica es un" (sustituir... por la nota de física)

In [2]:
asignaturas = "matematicas fisica historia".split()
asignaturas

['matematicas', 'fisica', 'historia']

In [3]:
notas = [9,9,8]
notas

[9, 9, 8]

In [6]:
serie = pd.Series(notas,asignaturas)

In [8]:
nota_fisica = serie['fisica']
nota_fisica

9

In [10]:
print('La nota de fisica es:', nota_fisica)

La nota de fisica es: 9

El objetivo será crar un dataframe con las ventas de nuestras 3 oficinas para los meses de enero, febrero y marzo.<br>
Pasos a seguir: <br>
Crea una variable "ventas_enero" que contenga una lista de 3 números enteros aleatorios entre 100 y 500<br>
Crea una variable "ventas_febrero" que contenga una lista de 3 números enteros aleatorios entre 100 y 500<br>
Crea una variable "ventas_marzo" que contenga una lista de 3 números enteros aleatorios entre 100 y 500<br>
Crea una variable "filas" que contenga esta lista de palabras: 'ventas_enero','ventas_febrero','ventas_marzo'<br>
Crea una variable "columnas" que contenga esta lista de palabras: 'oficina_1','oficina_2','oficina_3'<br>
Crea una variable "ventas" que contenga esta lista con los valores de enero, febrero y marzo<br>
Crea una variable "df" que contenga las ventas,filas y columnas<br>
Mediante print muestra el valor de "las ventas de enero para la oficina 1 son de ..."<br>

In [22]:
#creación de array de 3 números randoms
ventas_enero = np.random.randint(100,500,size=3)
ventas_febrero = np.random.randint(100,500,size=3)
ventas_marzo = np.random.randint(100,500,size=3)

print(ventas_enero,ventas_febrero,ventas_marzo)

[277 111 273] [409 343 370] [287 272 482]

In [23]:
#cración del indice
filas = 'ventas_enero ventas_febrero ventas_marzo'.split()
filas

['ventas_enero', 'ventas_febrero', 'ventas_marzo']

In [24]:
#creación del nombre de la columna
columnas = 'oficina_1 oficina_2 oficina_3'.split()
columnas

['oficina_1', 'oficina_2', 'oficina_3']

In [25]:
#lo en un array más grandee 3x3
ventas = [ventas_enero,ventas_febrero,ventas_marzo]
ventas

[array([277, 111, 273]), array([409, 343, 370]), array([287, 272, 482])]

In [27]:
df = pd.DataFrame(ventas,index=filas,columns=columnas)
df

                oficina_1  oficina_2  oficina_3
ventas_enero          277        111        273
ventas_febrero        409        343        370
ventas_marzo          287        272        482

In [35]:
enero_of1 = df['oficina_1']['ventas_enero'] #columna y luego fila

print ('Las ventas de enero para la oficina 1 son de',enero_of1)

Las ventas de enero para la oficina 1 son de 277