In [6]:
#importa numpy y pandas
import numpy as np
import pandas as pd

In [7]:
pwd #que directorio estamos

'C:\\Users\\cajap\\Desktop\\universidad\\2020\\primer semestre\\inteligencia artificial\\machine leerning basico\\pandas'

In [11]:
ls

 El volumen de la unidad C es Windows
 El número de serie del volumen es: 78F9-F873

 Directorio de C:\Users\cajap\Desktop\universidad\2020\primer semestre\inteligencia artificial\machine leerning basico\pandas

30-04-2020  17:09    <DIR>          .
30-04-2020  17:09    <DIR>          ..
30-04-2020  16:55    <DIR>          .ipynb_checkpoints
30-04-2020  16:43            30.486 Agrupación, combinación de datos, merge y join.ipynb
30-04-2020  15:10            25.727 Dataframes.ipynb
30-04-2020  17:09             8.529 ejemplo.xlsx
30-04-2020  17:09            42.155 Ficheros CSV, tipo EXCEL.ipynb
24-04-2020  16:59            11.328 heart.csv
30-04-2020  16:55             8.848 Operaciones.ipynb
30-04-2020  15:32            22.387 Selección de datos con una condición.ipynb
30-04-2020  14:45             3.918 Series.ipynb
30-04-2020  15:53             5.796 Tratamiento datos nulos o sin valor.ipynb
               9 archivos        159.174 bytes
               3 dirs  530.758.922.240 bytes libres

In [26]:
df = pd.read_excel('ejemplo.xlsx') #para abrir csv  es .csv

df = df.loc[:,~df.columns.str.contains('^Unnamed')] #quitar unnamed

df

   a   b    c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [27]:
df['e']=[16,17,18,19]

In [28]:
df

   a   b    c   d   e
0   0   1   2   3  16
1   4   5   6   7  17
2   8   9  10  11  18
3  12  13  14  15  19

In [29]:
#exportar los datos a excel
df.to_excel('salida.xlsx',sheet_name='ejemplo')