In [1]:
#importa numpy y pandas
import numpy as np
import pandas as pd

In [2]:
dic = {'A':[11,12,10,12], 'B':[14,18,16,17]}
df = pd.DataFrame(dic,index=['i1','i2','i3','i4'])
df

     A   B
i1  11  14
i2  12  18
i3  10  16
i4  12  17

In [3]:
df['A'].unique() #valores unicos

array([11, 12, 10], dtype=int64)

In [4]:
df['A'].nunique() #valores unicos que no se repiten

3

In [5]:
df['A'].value_counts() #numero de ocurrencia de cada valor

12    2
11    1
10    1
Name: A, dtype: int64

In [6]:
def mul(x):
    return x*2

In [7]:
df

     A   B
i1  11  14
i2  12  18
i3  10  16
i4  12  17

In [8]:
df['A'].apply(mul)

i1    22
i2    24
i3    20
i4    24
Name: A, dtype: int64

In [10]:
df['A'].apply(lambda x:x*2) #funci√≥n lambda

i1    22
i2    24
i3    20
i4    24
Name: A, dtype: int64

In [12]:
df.index #indices de las filas

Index(['i1', 'i2', 'i3', 'i4'], dtype='object')

In [14]:
df.columns #indice de las columnas

Index(['A', 'B'], dtype='object')

In [17]:
df.sort_values('A') #ordename el datagrama por la columna A

     A   B
i3  10  16
i1  11  14
i2  12  18
i4  12  17