# Series

In [2]:
#importa numpy y pandas
import numpy as np
import pandas as pd

In [3]:
etiquetas = ['a','b','c']
datos = [1,2,3]
pd.Series(data = datos, index = etiquetas)

a    1
b    2
c    3
dtype: int64

In [11]:
array = np.arange(5,8)
etiqueta = ['venta 1','venta 2','venta 3']
array

array([5, 6, 7])

In [13]:
serie1 = pd.Series(array,etiqueta)
serie1

venta 1    5
venta 2    6
venta 3    7
dtype: int32

In [17]:
serie1['venta 1'] # por etiqueta

5

In [18]:
serie1[0] #por posici√≥n

5

In [20]:
datos2 = ['informatica',300,'impresora',400]
pd.Series(datos2)

0    informatica
1            300
2      impresora
3            400
dtype: object

In [23]:
sr1 = pd.Series([1,2,3],['venta 1','venta 2','venta 3'])
sr2 = pd.Series([4,5,6],['venta 1','venta 2','venta 3'])

In [25]:
#suma
sr_suma = sr1 + sr2
sr_suma

venta 1    5
venta 2    7
venta 3    9
dtype: int64