In [3]:
#importa numpy y pandas
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# SQL

In [4]:
dic = {'A':[1,2,3],'B':[4,5,6]}
df = pd.DataFrame(dic)
df

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
#creamos en memoria un gestor de base de datos
engine = create_engine('sqlite:///:memory:')

In [6]:
df.to_sql('tabla',engine,index=False) #0 1 y 2 de los indices no lo graba solo el resto

In [8]:
#para acceder a la base de datos 
datos_leidos_bd = pd.read_sql('tabla',con=engine)
datos_leidos_bd

   A  B
0  1  4
1  2  5
2  3  6