In [1]:
#importa numpy y pandas
import numpy as np
import pandas as pd

In [19]:
#dataframe a partir de un diccionario
diccionario = {'A':[3,5,np.nan], 'B':[6,5,5], 'C':[np.nan,4,np.nan]} #np.nan es un valor nulo
diccionario

{'A': [3, 5, nan], 'B': [6, 5, 5], 'C': [nan, 4, nan]}

In [20]:
dataframe = pd.DataFrame(diccionario)
dataframe

     A  B    C
0  3.0  6  NaN
1  5.0  5  4.0
2  NaN  5  NaN

In [ ]:
dataframe.dropna() #elimina filas con algún nulo

In [ ]:
dataframe.dropna(axis=1) #elimina columnas con algún nulo inplace true lo eliminará para siempre

In [ ]:
dataframe.fillna(value=100) #rellename los valores con 100

In [28]:
valor_medio = dataframe.mean()
valor_medio #me da el valor medio de cada columna

A    4.000000
B    5.333333
C    4.000000
dtype: float64

In [30]:
dataframe.fillna(value=valor_medio) # y cambia todos los valores medios de cada columna

     A  B    C
0  3.0  6  4.0
1  5.0  5  4.0
2  4.0  5  4.0